<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://kit.fontawesome.com/17951cbad8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="stylesheet" href="../static/css/{{ css }}">
    <link rel="shortcut icon" href="../../static/pictures/edited-logo.png" type="image/x-icon">  
    <title>{{title}}</title>
  </head>
  <body class="m-0 p-0  w-screen ">

    {% block container %}{% endblock container %}

    

    <script src="../../static/js/jquery-3.6.0.min.js"></script>
    <script src="../../static/js/jquery.validate.js"></script>
    {% block javascript %}{% endblock javascript %}
  </body>
</html>