{% extends 'intro/base.html' %}


{% block container %}

        <div class="flex flex-nowrap justify-center ">
            <div class="w-64 min-w-16">
                <form action="" method="post">
                    <div class="flex justify-center flex-wrap">
                        <div class="w-full ">
                            <img class="mx-auto w-auto h-36" src="../../static/pictures/avatar.jpg" alt="" srcset="">
                        </div>
                        <div class="w-full">
                            <div class="h-12 w-64">jfkasf</div>
                            <div class="h-12 w-64">jasfkasjdf</div>
                            <div class="h-12 w-64">asdfjaskdjf</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="w-auto">
                <img class="h-screen w-auto" src="../../static/pictures/login_image_option2.jpg" alt="" srcset="">
            </div>

        </div>

{% endblock container %}
    