{% comment %} <div class="flex items-center space-x-2  mr-6">
    <img
      class="w-auto h-8"
      src="https://storage.googleapis.com/mixo-files/logos/faceCheck-1680424301859.svg"
      alt="FaceCheck logo"
    />
    <p class="font-semibold text-xl tracking-tight">AFRAAS</p>
  </div>
  
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-sm lg:flex-grow">
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4"
      >
        Dashboard
      </a>
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4"
      >
        Users
      </a>
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white"
      >
        Reports
      </a>
    </div>
    <div>
      <a
        href="#"
        class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 lg:mt-0"
        >Logout</a
      >
    </div>
  </div>
</nav>

{% comment %}
<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <img
            class="h-8 w-8"
            src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg"
            alt="Workflow"
          />
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <a
              href="#"
              class="px-3 py-2 rounded-md text-sm font-medium text-white bg-gray-900"
              >Dashboard</a
            >
            <a
              href="#"
              class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700"
              >Team</a
            >
            <a
              href="#"
              class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700"
              >Projects</a
            >
            <a
              href="#"
              class="px-3 py-2 rounded-md text-sm font-medium text-gray-300 hover:text-white hover:bg-gray-700"
              >Calendar</a
            >
          </div>
        </div>
      </div>
      <div class="-mr-2 flex md:hidden">
        <button
          type="button"
          class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <!-- Icon when menu is closed. -->
          <!--
              Heroicon name: menu
  
              Menu open: "hidden", Menu closed: "block"
            -->
          <svg
            class="block h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
          <!-- Icon when menu is open. -->
          <!--
              Heroicon name: x
  
              Menu open: "block", Menu closed: "hidden"
            -->
          <svg
            class="hidden h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, toggle classes based on menu state. -->
  <div class="md:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4"
      >
        Dashboard
      </a>
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4"
      >
        Users
      </a>
      <a
        href="#responsive-header"
        class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white"
      >
        Reports
      </a>
    </div>
  </div>
  <div>
    <a
      href="#"
      class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-500 hover:bg-white mt-4 lg:mt-0"
      >Logout</a
    >
  </div>
</nav>
{% endcomment %} 

<div class="flex items-center relative z-20">
  <div class="self-start mt-1 z-20 ">
      <img
        class="w-auto h-12 z-20 self-start"
        src="../../static/pictures/logo.png"
        alt="FaceCheck logo"
      />
  </div>
  <div>
      <div class="mx-3 z-20">
          <p class="font-sans relative font-bold text-gray-900 text-3xl z-20">AFRAAS</p>
          <p class="font-sans relative z-20 w-72 text-gray-500 text-m">Automatic Face Recognition Attendance and Security System</p>
  
      </div>
  </div>
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-m flex lg:flex-grow justify-end pr-16">
        <a
          href="{% url 'help' %}"
          class="block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-black-900 mr-4"
        >
          Help
        </a>
        <a
          href="{% url 'contact-us' %}"
          class="block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-black-900 mr-4"
        >
          Contact
        </a>
        <a
          href="{% url 'about-us' %}"
          class="block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-black-900 mr-4"
        >
          About
        </a>
        <!-- <a
          href="{% url 'report-issue' %}"
          class="block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-black-900 mr-4"
        >
          Report Issue
        </a>
        <a
          href="{% url 'developer-support' %}"
          class="block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-black-900 mr-4"
        >
          Developer Support
        </a> -->
      </div>
      
    </div>
</div>