<button data-drawer-target="separator-sidebar" data-drawer-toggle="separator-sidebar" aria-controls="separator-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
     <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>

<aside id="separator-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <a href="{% url 'staff:dashboard' %} " class="flex items-center pl-2.5 mb-5">
      <img src="./../static/intro/pictures/edited-logo.png" class="h-8 mr-3 sm:h-7" alt="Flowbite Logo" />
      <!-- <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">AFRAAS</span> -->
      <span class="font-sans font-bold text-gray-100 text-3xl">AFRAAS</span>

      <!-- <div>
        <div class="mx-3 color-">
            <p class="font-sans font-bold text-gray-100 text-3xl">AFRAAS</p>
            <p class="font-sans text-gray-300 text-base">Automatic Face Recognition Attendance and Security System</p>
    
        </div>
    </div> -->
   </a>
     <ul class="space-y-4 font-medium">
        
        <li>
          
           <a href=" {% url 'staff:dashboard' %} " class="flex items-center p-2 rounded-lg    
           {% if page == 'dashboard' %}
           bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%
           text-gray-900 dark:text-white 
           {% else %}
           text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700
           {% endif %}
           ">
            
              <span class="ml-3">Dashboard</span>
           </a>
        </li>
        <li>
           <a href="{% url 'staff:users' %}" class="flex items-center p-2 rounded-lg    
           {% if page == 'users' %}
           bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%
           text-gray-900 dark:text-white 
           {% else %}
           text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700
           {% endif %}">
              
              <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
             
           </a>
          </li>
          <li>
             <a href="{% url 'staff:attendance' %}" class="flex items-center p-2 rounded-lg    
             {% if page == 'attendance' %}
             bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%
           text-gray-900 dark:text-white 
             {% else %}
             text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700
             {% endif %}">
                
                <span class="flex-1 ml-3 whitespace-nowrap">Attendance</span>
             </a>
          </li>
        <li>
           <a href="{% url 'staff:other-tables' %}" class="flex items-center p-2 rounded-lg    
           {% if page == 'other-tables' %}
           bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%
           text-gray-900 dark:text-white 
           {% else %}
           text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700
           {% endif %}">
              
              <span class="flex-1 ml-3 whitespace-nowrap">Other Tables</span>
           </a>
        </li>
        {% comment %} <li>
           <a href="#" class="flex items-center p-2 rounded-lg    
           {% if page == 'dashboard' %}
           bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%
           text-gray-900 dark:text-white 
           {% else %}
           text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700
           {% endif %}">
              
              <span class="flex-1 ml-3 whitespace-nowrap">Products</span>
           </a>
        </li>
        <li>
           <a href="#" class="flex items-center p-2 rounded-lg    
           {% if page == 'dashboard' %}
           bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%
           text-gray-900 dark:text-white 
           {% else %}
           text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700
           {% endif %}">
              
              <span class="flex-1 ml-3 whitespace-nowrap">Sign In</span>
           </a>
        </li>
        <li>
           <a href="#" class="flex items-center p-2 rounded-lg    
           {% if page == 'dashboard' %}
           bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%
           text-gray-900 dark:text-white 
           {% else %}
           text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700
           {% endif %}">
              
              <span class="flex-1 ml-3 whitespace-nowrap">Sign Up</span>
           </a>
        </li> {% endcomment %}
     </ul>
     <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 dark:border-gray-700">
        <li>
           <a href="{% url 'staff:reports' %}" class="flex items-center p-2 rounded-lg    
           {% if page == 'other-tables' %}
           bg-gradient-to-r from-indigo-500 from-10% via-sky-500 via-30% to-emerald-500 to-90%
           text-gray-900 dark:text-white 
           {% else %}
           text-gray-900 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700
           {% endif %}">
              
              <span class="ml-4">Reports</span>
           </a>
        </li>
        <li>
           <a href="#" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
              
              <span class="ml-3">Documentation</span>
           </a>
        </li>
        <li>
           <a href="#" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
              
              <span class="ml-3">Components</span>
           </a>
        </li>
        <li>
           <a href="#" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
              <span class="ml-3">Help</span>
           </a>
        </li>
     </ul>
  </div>
</aside>

