<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="shortcut icon" href="{% static 'intro\pictures\edited-logo.png' %}" type="image/x-icon">
    
    
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href="{% static 'staff\css\jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />


    <script src="{% static 'intro\scripts\jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'intro\scripts\jquery.validate.min.js' %}"></script>
    <script src="{% static 'staff\scripts\jquery.dataTables.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://kit.fontawesome.com/17951cbad8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    

    <title>{{title}}</title>
    {% block css %}{% endblock css %}
  </head>
  <body>
    {% block container %}
    
    {% block sidebar_script %}
    {% endblock sidebar_script %}
    {% endblock container %}
    
    
    
    {% block javascript %}{% endblock javascript %}
  </body>
</html>