{% extends 'staff/base.html' %}
{% load static %}

{% block css %}

<style>
   @keyframes animtoday {
      100% {
         
         stroke-dashoffset: {{attendance_today_meter}};
      }
   }
   
   @keyframes animyest {
      100% {
         
         stroke-dashoffset: {{attendance_yest_meter}};
      }
   }
</style>
<link rel="stylesheet" href=" {% static 'staff\css\dashboard.css' %} ">
{% endblock css %}

{% block container %}
{% include 'staff/sidebar.html' %}



<div class=" p-4 sm:ml-64 sm:mr-72" syle="">
   <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">
      <div class="flex justify-start flex-col h-40 mb-4 rounded bg-gray-50 dark:bg-gray-800 flex-wrap ">
         <div class="text-4xl text-gray-100 my-3 mx-2">
            Dashboard
         </div>
         <div class="text-base text-gray-400 dark:text-gray-300  mx-2">
            Hello, {{ user.name }}, Welcome to AFRAAS
         </div>
      </div>
      <div class="grid grid-cols-5 gap-4 mb-4">

         <div
            class="flex items-center justify-center flex-col h-24 rounded bg-gray-50 dark:bg-gray-800 text-center flex-wrap ">
            <div class="num w-full flex justify-center  ">
               {% comment %} {{ present_digits}} {% endcomment %}
               {% for dig in all_users_digits %}

               <i class="fi fi-rs-{{ dig }} text-indigo-300 text-3xl "></i>

               {% endfor %}


            </div>
            <div class="heading text-sm text-gray-100 w-28 ">
               Total Users
            </div>
         </div>
         <div
            class="flex items-center justify-center flex-col h-24 rounded bg-gray-50 dark:bg-gray-800 text-center flex-wrap ">
            <div class="num w-full flex justify-center  ">

               {% for dig in present_digits %}

               <i class="fi fi-rs-{{ dig }} text-emerald-300 text-3xl "></i>

               {% endfor %}
               {% comment %} <i class="fi fi-rs-{{ total_present }} text-emerald-300 text-3xl "></i>
               {% endcomment %}
               <!-- <i class=" fi fi-rs-5 text-emerald-300 text-3xl "></i> -->

            </div>
            <div class="heading text-sm text-gray-100 w-28 ">
               On Time
            </div>
         </div>
         <div
            class="flex items-center justify-center flex-col h-24 rounded bg-gray-50 dark:bg-gray-800 text-center flex-wrap ">
            <div class="num w-full flex justify-center  ">
               {% for dig in late_digits %}

               <i class="fi fi-rs-{{ dig }} text-red-300 text-3xl "></i>

               {% endfor %}
               {% comment %} <i class="fi fi-rs-5 text-emerald-300 text-3xl "></i>
               <i class=" fi fi-rs-5 text-emerald-300 text-3xl "></i> {% endcomment %}

            </div>
            <div class="heading text-sm text-gray-100 w-28 ">
               Late
            </div>
         </div>
         <div
            class="flex items-center justify-center flex-col h-24 rounded bg-gray-50 dark:bg-gray-800 text-center flex-wrap ">
            <div class="num w-full flex justify-center  ">
               {% for dig in absent_digits %}

               <i class="fi fi-rs-{{ dig }} text-yellow-300 text-3xl "></i>

               {% endfor %}
               {% comment %} <i class="fi fi-rs-5 text-emerald-300 text-3xl "></i>
               <i class=" fi fi-rs-5 text-emerald-300 text-3xl "></i> {% endcomment %}

            </div>
            <div class="heading text-sm text-gray-100 w-28 ">
               On Leave
            </div>
         </div>
         <div
            class="flex items-center justify-center flex-col h-24 rounded bg-gray-50 dark:bg-gray-800 text-center flex-wrap ">
            <div class="num w-full flex justify-center  ">
               {% for dig in not_marked_digits %}

               <i class="fi fi-rs-{{ dig }} text-blue-300 text-3xl "></i>

               {% endfor %}
               {% comment %} <i class="fi fi-rs-5 text-emerald-300 text-3xl "></i>
               <i class=" fi fi-rs-5 text-emerald-300 text-3xl "></i> {% endcomment %}

            </div>
            <div class="heading text-sm text-gray-100 w-28 ">
               Not Marked Yet
            </div>
         </div>



      </div>

      <div class="grid grid-cols-2 gap-4 mb-4">
         <div class="flex items-center justify-evenly rounded bg-gray-50 h-28 dark:bg-gray-800">
            <div class="heading text-lg text-gray-100 w-48">
               Today's Attendance
               <div class="text-gray-300 text-xs">
                  {{ total_present }}/{{ total_users }}
               </div>
            </div>

            <div class="meter">
               <div class="outer">
                  <div class="inner">
                     <div id="number">
                        {{ attendance_today_percent }}%
                     </div>
                  </div>
               </div>

               <svg class="meter-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="80px" height="80px">
                  <defs>
                     <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                     </linearGradient>
                  </defs>
                  <circle class="circle-today" cx="40" cy="40" r="30" stroke-linecap="round" />
               </svg>
            </div>
         </div>
         <div class="flex items-center justify-around rounded bg-gray-50 h-28 dark:bg-gray-800">
            <div class="heading text-lg text-gray-100 w-48">
               Yesterday's Attendance
               <span class="text-gray-300 text-xs">
                  {{ yest_present }}/{{ yest_users }}
               </span>
            </div>

            <div class="meter">
               <div class="outer">
                  <div class="inner">
                     <div id="number">
                        {{ attendance_yest_percent }}%
                     </div>
                  </div>
               </div>

               <svg class="meter-svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="80px" height="80px">
                  <defs>
                     <linearGradient id="GradientColor">
                        <stop offset="0%" stop-color="#e91e63" />
                        <stop offset="100%" stop-color="#673ab7" />
                     </linearGradient>
                  </defs>
                  <circle class="circle-yest" cx="40" cy="40" r="30" stroke-linecap="round" />
               </svg>
            </div>
         </div>
         <div class="flex  justify-center rounded bg-gray-50 h-28 dark:bg-gray-800 flex-col group">
            <div class="text-xl text-gray-100 dark:text-gray-300 ml-11">

               Face Recognition not working??
            </div>
            <a href=" {% url 'staff:users' %} "
               class="  dark:text-gray-500 text-gray-400 transition-transform duration-200 text-lg mt-2 flex flex-row ml-11 w-fit group-hover:text-gray-100 hover:underline">
               <div>
                  Mark Manually

               </div>
               <i class="fi ml-2 fi-rs-arrow-up-right-from-square"></i>
            </a>
         </div>
         <div class="flex  justify-center rounded bg-gray-50 h-28 dark:bg-gray-800 flex-col group">
            <div class="text-xl text-gray-100 dark:text-gray-300 ml-8">

               Want to generate some Reports??
            </div>
            <a href=" {% url 'staff:users' %} "
               class="  dark:text-gray-500 text-gray-400 transition-transform duration-200 text-lg mt-2 flex flex-row ml-8 w-fit group-hover:text-gray-100 hover:underline">
               <div>
                  Lets Go

               </div>
               <i class="fi ml-2 fi-rs-arrow-up-right-from-square hover:underline "></i>
            </a>
         </div>
      </div>

      <div class="flex justify-center align-center p-2 mb-4 rounded bg-gray-50 dark:bg-gray-800 flex-wrap">
         <div class="text-xl text-gray-400 dark:text-gray-200  mx-2 my-2 w-full">
            Monthly report - {{ chart_data.month }} {{ chart_data.year }}
         </div>
            <div id="myChart2" >
   
            </div>
      </div>
      <div class="grid grid-cols-2 gap-4 mb-4">
         <div class="flex justify-center rounded bg-gray-50 h-28 dark:bg-gray-800 flex-col group">
            <div class="text-xl text-gray-100 dark:text-gray-300 ml-8">

               Want to Edit Shifts and Departments??
            </div>
            <a href=" {% url 'staff:other-tables' %} "
               class="  dark:text-gray-500 text-gray-400 transition-transform duration-200 text-lg mt-2 flex flex-row ml-8 w-fit group-hover:text-gray-100 hover:underline">
               <div>
                  Lets Go

               </div>
               <i class="fi ml-2 fi-rs-arrow-up-right-from-square hover:underline "></i>
            </a>
         </div>
         <div class="flex justify-center rounded bg-gray-50 h-28 dark:bg-gray-800 flex-col group">
            <div class="text-xl text-gray-100 dark:text-gray-300 ml-8">

               Want to see Attendance Logs??
            </div>
            <a href=" {% url 'staff:attendance' %} "
               class="  dark:text-gray-500 text-gray-400 transition-transform duration-200 text-lg mt-2 flex flex-row ml-8 w-fit group-hover:text-gray-100 hover:underline">
               <div>
                  Lets Go

               </div>
               <i class="fi ml-2 fi-rs-arrow-up-right-from-square hover:underline "></i>
            </a>
         </div>

      </div>
      <div class="grid grid-cols-1 gap-4 mb-4">
         {% if user.is_superuser %}
         <div class="flex items-center justify-center rounded bg-gray-50 h-28 dark:bg-gray-800">

            <div class="flex justify-center rounded bg-gray-50 h-28 dark:bg-gray-800 flex-col group">

               <div class="text-xl text-gray-100 dark:text-gray-300 ">

                  New Collegue Joined??
                  Welcome them with their registration.
               </div>
               <a href=" {% url 'staff:attendance' %} "
                  class="  dark:text-gray-500 text-gray-400 transition-transform duration-200 text-lg mt-2 flex flex-row w-fit group-hover:text-gray-100 hover:underline">
                  <div>
                     Lets Begin

                  </div>
                  <i class="fi ml-2 fi-rs-arrow-up-right-from-square hover:underline "></i>
               </a>
            </div>
         </div>
         {% endif %}
         <div class="flex items-center justify-around flex-col  rounded bg-gray-50 h-40 dark:bg-gray-800">


            <div class="flex flex-row flex-nowrap w-full justify-evenly">

               <div class="w-auto ">
                  <a href="{% url 'developer-support' %}"
                     class="block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-300 mr-4">
                     Developer Support
                  </a>
               </div>
               <div class="w-auto ">
                  <a href="{% url 'about-us' %}"
                     class="block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-300 mr-4">
                     About Us
                  </a>
               </div>
               <div class="w-auto ">
                  <a href="{% url 'report-issue' %}"
                     class="block mt-4 lg:inline-block lg:mt-0 text-gray-500 hover:text-gray-300 mr-4">
                     Report Issue
                  </a>
               </div>

            </div>

            <div class=" flex justify-center align-center  text-md sm:text-x  text-gray-400 group">
               Made with
               <i class="mx-2 fi fi-rs-heart text-red-500 "></i>
               by
                <a href="https://github.com/kaur-mannu" class="mx-2 group-hover:text-gray-300  group-hover:underline  ">
                  Sandeep Kaur
               </a>
               & 
               <a href="https://github.com/GurpreetSarangal"
                  class="mx-2 group-hover:text-gray-300 group-hover:underline ">
                  Gurpreet Sarangal
               </a>
            </div>


         </div>
      </div>
   </div>
</div>


<!-- <aside id="separator-sidebar" class="top-0 right-0 z-40 col-6 h-screen transition-transform " aria-label="Sidebar"> -->
   <aside id="separator-sidebar"
   class="fixed top-0 right-0 z-40 w-72 h-screen transition-transform -translate-x-full sm:translate-x-0"
   aria-label="Sidebar">
   <div class=" h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <a href="{% url 'user:dashboard' %} " class="flex items-center pl-2.5 mb-5 justify-center flex-wrap flex-col">

         <img src=" {% static 'pictures\hacker.png' %} " class="h-8 mr-3 sm:h-28" alt="Flowbite Logo" />
         <span class=" mt-2 font-sans font-bold text-gray-100 text-base"> {{ user.name }} </span>
         <span class=" mt-1 font-sans font-bold text-gray-100 text-xs">{% if user.is_superuser %}
            Admin
            {% else %}
            Staff
            {% endif %} </span>
      </a>
      <div href="" class="flex items-center  p-2 rounded-lg text-2xl   justify-between 
             reload-absent
             text-gray-900 dark:text-white group
            
             ">

         <span class="ml-3 mt-1">Recent Absents</span>
         <i
            class="fi text-gray-400 transition-transform duration-200 fi-rs-refresh text-lg mr-2 mt-2 group-hover:text-gray-100"></i>
      </div>
      <ul class="space-y-1 font-medium absentees">


         {% if absentees|length > 0 %}

         {% for obj in absentees %}
         <li>
            <a href="{% url 'staff:users' %}" class="flex items-center p-1  rounded-lg bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
            text-gray-900 dark:text-white hover:text-gray-100  
            ">
               <i class="ml-2 fi fi-rs-delete-user text-2xl"></i>
               <div class="flex justify-center flex-col">
                  <span class="flex-1 ml-3 whitespace-nowrap text-sm">#{{obj.id}} {{obj.name}}</span>
                  <span class="flex-1 ml-3 whitespace-nowrap text-xs">{{ obj.time_and_date|date:"D d M Y" }}
                     {{ obj.time_and_date|time:"h:i A"}}</span>
                  {% comment %} <span class="flex-1 ml-3 whitespace-nowrap text-xs">{{ obj.time_and_date }}</span>
                  {% endcomment %}

               </div>

            </a>
         </li>

         {% endfor %}

         {% else %}

         <li>
            <a href="{% url 'staff:attendance' %}" class="flex items-center p-1  rounded-lg bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
             text-gray-900 dark:text-white    
             ">
               <i class="ml-2 fi fi-rs-delete-user text-2xl"></i>
               <span class="flex-1 ml-3 whitespace-nowrap text-sm">No Records to show</span>

            </a>
         </li>

         {% endif %}




      </ul>
      <div href="" class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 dark:border-gray-700 flex items-center p-2 rounded-lg text-2xl    
            group reload-entries justify-between
            text-gray-900 dark:text-white 
            
            ">

         <span class="ml-3">Recent Entries</span>
         <i
            class="fi text-gray-400 transition-transform duration-200 fi-rs-refresh text-lg mr-2 mt-2 group-hover:text-gray-100"></i>
      </div>
      <ul class="space-y-1 font-medium  entries">


         {% if entries|length > 0 %}

         {% for obj in entries %}
         <li>
            <a href="{% url 'staff:users' %}" class="flex items-center p-2 rounded-lg    
        bg-gradient-to-r from-blue-500 via-green-400 to-blue-200
        text-gray-900 dark:text-white 
        ">

               <i class="ml-2 fi  fi-rs-user-add text-2xl"></i>

               <div class="flex justify-center flex-col">
                  <span class="flex-1 ml-3 whitespace-nowrap text-sm">#{{obj.id}} {{obj.name}}</span>
                  <span class="flex-1 ml-3 whitespace-nowrap text-xs">
                     {% comment %} {{ obj.time_and_date|date:"D d M Y" }} {{ obj.time_and_date|time:"H:i"}}
                     {% endcomment %}
                     {{ obj.time_and_date|date:"D d M Y" }} {{ obj.time_and_date|time:"h:i A"}}
                  </span>

               </div>

            </a>
         </li>
         {% endfor %}


         {% else %}
         <li>
            <a href="{% url 'staff:users' %}" class="flex items-center p-1  rounded-lg bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
        text-gray-900 dark:text-white    
        ">
               <i class="ml-2 fi fi-rs-delete-user text-2xl"></i>
               <span class="flex-1 ml-3 whitespace-nowrap text-sm">No Records to show</span>

            </a>
         </li>
         {% endif %}



      </ul>
   </div>
</aside>





{{ content|json_script:"content" }}
{{ chart_data|json_script:"chart_data" }}
{% endblock container %}

{% block javascript %}

<script>
   const content = JSON.parse(document.getElementById('content').textContent);
   const chart_data = JSON.parse(document.getElementById('chart_data').textContent);
   // console.log(cha)
   // google.charts.load('current',{packages:['corechart']});
   // google.charts.setOnLoadCallback(drawChart);
   $(document).ready(function () {

      // google.charts.load('current', { 'packages': ['bar'] });
      // google.charts.setOnLoadCallback(drawChart);

      // function drawChart() {
      //    var data = new google.visualization.DataTable();
      //    data.addColumn('timeofday', 'Time of Day');
      //    data.addColumn('number', 'Emails Received');

      //    data.addRows([
      //       [[8, 30, 45], 5],
      //       [[9, 0, 0], 10],
      //       [[10, 0, 0, 0], 12],
      //       [[10, 45, 0, 0], 13],
      //       [[11, 0, 0, 0], 15],
      //       [[12, 15, 45, 0], 20],
      //       [[13, 0, 0, 0], 22],
      //       [[14, 30, 0, 0], 25],
      //       [[15, 12, 0, 0], 30],
      //       [[16, 45, 0], 32],
      //       [[16, 59, 0], 42]
      //    ]);

      //    var options = {
      //       title: 'Total Emails Received Throughout the Day',
      //       backgroundColor: '#fff',
      //       textStyle: {
      //          color: '#fff'
      //       },
      //       colors: ['#1F2937', '#1F2937', '#fff'],
      //       title: "email recieved",
      //       //   hAxis: {title: 'Square Meters'},
      //       //   vAxis: {title: 'Price in Millions'},
      //       legend: 'none',
      //       width: 720,
      //       height: 400,
      //    };
      //    // Draw
      //    // const chart = new google.visualization.LineChart($("#myChart")[0]);
      //    // chart.draw(data, options);
      //    var chart = new google.charts.Bar(document.getElementById('myChart'));

      //    chart.draw(data, options);
      // }

      google.charts.load('current', { 'packages': ['line'] });
      google.charts.setOnLoadCallback(drawChartMonthly);

      function drawChartMonthly() {

         var data = new google.visualization.DataTable();
         data.addColumn('number', 'Day');
         data.addColumn('number', 'Absent');
         data.addColumn('number', 'Leave');
         data.addColumn('number', 'Late');
         data.addColumn('number', 'Present');
         data.addColumn('number', 'Total Users');

         // data.addRows([
         //   [1,  37.8, 80.8, 41.8, 50],
         //   [2,  30.9, 69.5, 32.4, 50],
         //   [3,  25.4,   57, 25.7, 50],
         //   [4,  11.7, 18.8, 10.5, 50],
         //   [5,  11.9, 17.6, 10.4, 50],
         //   [6,   8.8, 13.6,  7.7, 50],
         //   [7,   7.6, 12.3,  9.6, 50],
         //   [8,  12.3, 29.2, 10.6, 50],
         //   [9,  16.9, 42.9, 14.8, 50],
         //   [10, 12.8, 30.9, 11.6, 50],
         //   [11,  5.3,  7.9,  4.7, 50],
         //   [12,  6.6,  8.4,  5.2, 50],
         //   [13,  4.8,  6.3,  3.6, 50],
         //   [14,  4.2,  6.2,  3.4, 50]
         // ]);
         console.log(chart_data)
         data.addRows(chart_data.data);

         var options = {
            chart: {
               title: chart_data.month + " " + chart_data.year,
               subtitle: 'Daily report for a month'
            },
            axes: {
               x: {
                  0: { side: 'top' }
               }
            },
            width: 720,
            height: 400,
            curveType: 'function',
         };

         var chart = new google.charts.Line(document.getElementById('myChart2'));

         chart.draw(data, google.charts.Line.convertOptions(options));
      }
   });
   $(".reload-absent").on("click", function (e) {



      var req_data = {

      };
      var init_html = $(".absentees").html();

      $(".absentees").empty();
      var data = JSON.stringify(req_data);
      $.ajax({
         url: '/api/recent-absent/',
         method: 'POST',
         data: data,
         success: function (response) {
            heading = ``;
            var new_list_of_absentees = heading;

            if (response.success) {
               // login successful, do something
               $(".absentees").empty();
               for (var obj of response.content) {
                  console.log(obj.name)
                  console.log(obj.time_and_date)

                  temp = `
               <li>
            <a href="{% url 'staff:users' %}" class="flex items-center p-1  rounded-lg bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
            text-gray-900 dark:text-white hover:text-gray-100  
            ">
               <i class="ml-2 fi fi-rs-delete-user text-2xl"></i>
               <div class="flex justify-center flex-col">
                   <span class="flex-1 ml-3 whitespace-nowrap text-sm">#`+ obj.id + ` ` + obj.name + `</span>
                   <span class="flex-1 ml-3 whitespace-nowrap text-xs">`
                     + obj.time_and_date +
                     `</span>

               </div>
              
            </a>
           </li>
               `
                  new_list_of_absentees += temp
               }
               $(".absentees").html(new_list_of_absentees);

            } else {
               new_list_of_absentees += `
            <li>
             <a href="{% url 'staff:users' %}" class="flex items-center p-1  rounded-lg bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
             text-gray-900 dark:text-white    
             ">
                <i class="ml-2 fi fi-rs-delete-user text-2xl"></i>
                <span class="flex-1 ml-3 whitespace-nowrap text-sm">No Records to show</span>
               
             </a>
            </li>
            `
               $(".absentees").html(new_list_of_absentees);
            }
         }
      });

   });

   $(".reload-entries").on("click", function (e) {
      var req_data = {

      };
      var init_html = $(".absentees").html();

      $(".entries").empty();

      var data = JSON.stringify(req_data);
      $.ajax({
         url: '/api/recent-entries/',
         method: 'POST',
         data: data,
         success: function (response) {
            heading = ``;
            if (response.success) {

               $(".entries").empty();
               new_list_of_entries = heading
               for (var obj of response.content) {
                  console.log(obj.name)
                  console.log(obj.time_and_date)
                  temp = `               <li>
        <a href="{% url 'staff:users' %}" class="flex items-center p-2 rounded-lg    
        bg-gradient-to-r from-blue-500 via-green-400 to-blue-200
        text-gray-900 dark:text-white 
        ">
        
        <i class="ml-2 fi  fi-rs-user-add text-2xl"></i>

        <div class="flex justify-center flex-col">
                   <span class="flex-1 ml-3 whitespace-nowrap text-sm">#`+ obj.id + ` ` + obj.name + `</span>
                   <span class="flex-1 ml-3 whitespace-nowrap text-xs">`+ obj.time_and_date + `</span>

               </div>
        
       </a>
    </li>`
                  new_list_of_entries += temp
               }
               $(".entries").html(new_list_of_entries);

            } else {
               new_list_of_entries = heading;
               new_list_of_entries += `
               <li>
        <a href="{% url 'staff:users' %}" class="flex items-center p-1  rounded-lg bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500
        text-gray-900 dark:text-white    
        ">
           <i class="ml-2 fi fi-rs-delete-user text-2xl"></i>
           <span class="flex-1 ml-3 whitespace-nowrap text-sm">No Records to show</span>
          
        </a>
       </li>
               `;
               $(".entries").html(new_list_of_entries);
            }
         }
      });

   });
</script>
{% endblock javascript %}